---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';
---

<BaseLayout pageTitle="Home Page">
	<h2>Mi primer sitio en Astro</h2>
	<p>¡Bienvenido a mi sitio web! Estoy emocionado de compartir mi viaje de aprendizaje con Astro contigo.</p>
	<p>Este es el comienzo de algo genial, y estoy deseando ver a dónde me lleva este viaje. ¡Gracias por acompañarme!</p>
</BaseLayout>

